<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>
<br><br>
<form method="post" >
    <label for="cheeseName">Cheese</label>
    <br>
    <input type="text" id="cheeseName" name="cheeseName" />
    <br><br>
    <label for="cheeseDescription">Description</label>
    <br>
    <input class="description" type="text" id="cheeseDescription" name="cheeseDescription" />
    <br><br>
    <input type="submit" value="Add Cheese" />
</form>

</body>
</html>