<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

<p>As a table:</p>
<table>
   <tr th:if="${cheeses.size()} > 0">
      <th>Cheese</th>
      <th>Description</th>
   </tr>
   <tr th:each="cheese : ${cheeses}">
      <td th:text="${cheese.getName()}"></td>
      <td th:text="${cheese.getDescription()}"></td>
   </tr>
</table>
<p>As a list:</p>

<ul>
   <li th:each="cheese : ${cheeses}" th:text="${cheese.getName()} + ':   ' + ${cheese.getDescription()}" />
</ul>

</body>
</html>