<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<h2 th:if="${user}" th:text="'Welcome, ' + ${user.username} +'!'">Welcome</h2>

<p th:unless="${users} and ${users.size()}">no users :(</p>

<div th:if="${users}">
<table class="table" >

    <tr>
        <th>Users</th>
    </tr>

    <tr th:each="aUser : ${users}">
        <td><a th:href="@{'/user/detail/' +${aUser.id}}" th:text="${aUser.username}"></a></td>
    </tr>

</table>
</div>

</body>
</html>